name: Backend CI/CD

on:
  push:
    branches: [ main ]
    paths:
      - 'backend/**'
  workflow_dispatch:

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and Push
        run: |
          cd backend
          docker build -t dock1 .
          docker tag dock1 karlgit13/ci-cd-grupp:${{ github.sha }}
          docker tag dock1 karlgit13/ci-cd-grupp:latest
          docker push karlgit13/ci-cd-grupp:${{ github.sha }}
          docker push karlgit13/ci-cd-grupp:latest

  deploy-render:
    needs: build-and-push
    name: Deploy to Render
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render
        if: ${{ secrets.RENDER_HOOK_URL }}
        run: curl -X POST ${{ secrets.RENDER_HOOK_URL }}
